@page "/HeroDetails/{Id:int}"
@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components.Web;


@inject HeroService heroService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div>
    <h2>@DetailedHero.Name.ToUpper() Details</h2>
    <div><span>id: </span>@DetailedHero.Id</div>
    <div>
        <label>
            name:
            <input @bind-value="@DetailedHero.Name" @bind-value:event="oninput" placeholder="name" />
        </label>
    </div>

</div>

<button @onclick="@(e=>GoBack())">go back</button>
<button @onclick="@(e=>Save())">save</button>

@code {

    private Hero DetailedHero
    {
        get;
        set;
    }

    [Parameter]
    public int Id
    {
        get; set;
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            DetailedHero = await Task.FromResult(heroService.GetHero(Id));
        }
    }
    private void GoBack()
    {
        JSRuntime.InvokeVoidAsync("history.back");
    }

    private void Save()
    {
        heroService.UpdateHero(DetailedHero);
        NavigationManager.NavigateTo("/");
    }
}

